<div id= "flash-message">
    {{#if messages.error}}
    <div class = "alert alert-danger"><h1>{{messages.error}}</h1></div>
    {{else}}
    <div class = "alert alert-success"><h1>{{messages.success}}</h1></div>
    {{/if}}
</div>