<div class="flex-container">
	<div class="menu-button">Menu</div>
	<ul class="flexnav" data-breakpoint="800">
		<li><a href="#">Home</a></li>
		<li>
			<a href="#">Popular</a>
		</li>
		<li>
			<a href="#">Recent</a>
		</li>
		<li>
			<a href="#">All</a>
		</li>
		<li>
			<a href="#">Search</a>
		</li>
	</ul>
</div>
