<div class="flex-container">
	<div class="menu-button">Menu</div>
	<ul class="flexnav" data-breakpoint="800">
		<li><a href="#">Home</a></li>
		<li>
			<a href="#">Recent</a>
		</li>
		<li>
			<a href="#">All</a>
		</li>
		<li>
			<div class = "searchBar">
				<input id = "search" name = "search" type = "text" placeholder="search posts">
			</div>
		</li>
		<li>
			<button type = submit id = "searchButton">
				Search
			</button>
		</li>

	</ul>
</div>
