<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="javascripts/frontend.js"></script>
    {{>navbar}}
</head>

<body>
    {{!-- {{log this}} --}}
    {{#if (emptyObject messages)}}
    {{!-- {{#if messages}} --}}
    {{> flashmessage}}
    {{/if}}
    {{{body}}}
</body>

</html>