<div id="about">
    <p>
        Hi I'm Damon I just like to take photos here and there, and this is where I post them.
        
    </p>
    <p>
        If you want to know the camera I use is a Samsung NX300
    </p>
</div>