
<div id="container">
    {{!-- {{card "images\photos\SAM_0394.JPG"}} --}}
    {{!-- <img style="max-width: 500px; max-height: 500px" class = "cardImg" src = "images\photos\SAM_0394.JPG" alt = "Missing Image"> --}}
    {{#each imageList}}
        {{>card this}}
    {{/each}}
</div>



