
<div id="container">
    <img style="max-width: 500px; max-height: 500px" class = "cardImg" src = "images\photos\SAM_0394.JPG" alt = "Missing Image">
    {{!-- {{#each results}}
        {{>card this}}
    {{/each}} --}}
</div>


