
<form id="login" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
    <h1>Login</h1>
    <hr>

    <div class="textFields">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" id="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="password" id="password" required>
    </div>
    <hr>

    <input type="submit" id="submitButton" class="submitButton">
</form>